@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --custom-primary-text: #0f172a;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-main-heading: var(--custom-primary-text);
    --color-accent-hover: #0066d6;
    --color-accent: #007aff;
    --font-main: var(--font-inter);
    --font-geist: var(--font-geist-sans);
    --font-diary: var(--font-diary);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.7s ease-out forwards;
}
.heading-color {
    color: #0f172a;
}
